@font-face { font-family: JetBrainsMono; font-family: monospace; src: url("../resc/font/JetBrainsMono-Regular.ttf"); }

body {
    margin: 0;

    background: #151515;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fdfbf4;
}

.container {
    display: flex;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.container * {
    flex-grow: 1;
    text-align: center;
    font-size: 24rem;
    font-family: JetBrainsMono, serif;
    margin: 0;
}

.container *:hover {
    color: #b30000;
}

.header {
    min-height: 100dvh;
}

.section {
    background: linear-gradient(#151515, #222222, #151515);
    min-height: 100dvh;
    display: flex;
    align-items: center;
}

.centered {
    margin: auto;
    width: fit-content;
}

.sidebar * {
    position: fixed;
    top: 20px;
    left: 20px;
    background: white;
    border-radius: 10%;
}
